.header {
  background-color: lightgreen;
  padding: 1em;
  padding-top: 6em;
}

.header-title {
  font-style: italic;
  text-shadow: 1px 1px 1px grey;
}

.header-cta {
  background-color: transparent;
  padding: 1em;
  border-radius: 10px;
}
