/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    background-color: lightgreen;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-burger {
    display: block;
    max-width: 50px;
  }

  .navbar-burger img {
    width: 100%;
  }

  .header {
    background-color: salmon;
    text-align: center;
  }

  .header-title {
    font-size: 1.5em;
  }
}
